* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.game-table {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}